/* The component style is inserted here. */
.container-profile{
    //background-image: url();
    height: 20vh;
    width: 100%;
    color: white;
    h1{
        margin-left: 2rem;
    }
    .container{
        margin-left: 1.2rem;
    }
}
